.tableContainer {
  width: 100%;
  max-width: 1000px;
  margin: 150px auto;
  background: #e2f2e7;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* Allow horizontal scrolling */
}

.tableHeader {
  text-align: center;
  margin-bottom: 15px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  word-wrap: break-word;
  white-space: normal;
}

.table th {
  background-color: #002d0f;
  color: #fff;
}

/* Optional: Adjust layout for smaller screens */
@media screen and (max-width: 768px) {
  .table {
    min-width: 100%; /* Allow table to shrink */
  }
  .table th, .table td {
    padding: 8px; /* Reduce padding for smaller screens */
  }
}


.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #002d0f;
}

.pagination li.active {
  background-color: #002d0f;
  color: white;
}

.pagination li:hover {
  background-color: #e2f2e7;
}
