/* OnboardingWizard.module.css */

.container {
    width: 90%;
    max-width: 600px;
    margin: 30px auto;
    background-color: #f7f9f8; /*b5e0db */
    background-color: #e2f2e7;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
    /* color: #d87162; */
    color: #002d0f;
  }
  
  /* Step Indicator Styles */
  .stepIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .step {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin: 0 10px;
    text-align: center;
    font-weight: bold;
    color: #555;
  }
  
  .activeStep {
    /* background-color: #d87162; */
    background-color: #00531b;
    color: #fff;
  }

  /* Responsive Adjustments */
@media (max-width: 600px) {
    .container {
      width: 95%;
      margin: 10px auto;
      padding: 10px;
    }
  
    .step {
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin: 0 5px;
      font-size: 0.9rem;
    }
  
    .header {
      font-size: 1.2rem;
    }
  }
  